<div id="<%= dom_id flash_card %>">
  <p>
    <strong>Word:</strong>
    <%= flash_card.word %>
  </p>

  <p>
    <strong>Definition:</strong><br>
    <%= simple_format(flash_card.definition) %>
  </p>

</div>
